.installment-card {
  background: white;
  padding: 4vw 3vw;
  border-radius: 2vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  margin: 3vw auto;
  max-width: 98vw;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
}

.installment-card p {
  margin: 8px 0;
}

.pay-button {
  margin-top: 10px;
  padding: 10px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.pay-button:hover {
  background-color: #1d4ed8;
}
